{{#each ideas}}
	<div class="card card-body mb-2">
		<h4>{{title}}</h4>
		<p>{{description}}</p>
		<a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
		<form method="post" action="/ideas/{{id}}?_method=delete">
			<input type="submit" name="Delete" class="btn btn-block btn-danger">
		</form>
	</div>
{{else}}
	<p>No idea available</p>
{{/each}}